.container{
    color: whitesmoke;
    margin-left: 1.2rem;
    margin-top: 4rem;
    font-family: 'roboto',sans-serif;
}
.page-name{
    color: rgba(131, 171, 189, 0.452);
}
.show-category{
    margin-top: 1.5rem;
    color: rgba(245, 245, 245, 0.9);
}
.show-poster{
    cursor: pointer;
    max-height: 200px;
    margin-left: 1rem;
    transition: all .2s ease-in-out;
}
.show-poster:hover{
    transform: scale(1.1);
}
.poster-container{
    margin-left: -1rem;
    padding: 20px;
    height: 200px;
    display: flex;
    overflow-x: hidden;
}
.shows{
    margin-top: -3.5rem;
    margin-bottom: 2rem;
}
.page-contents{
    margin-top: 5rem;
    margin-bottom: 3rem;
    margin-left: 20px;
    color: whitesmoke;
}