.navbar {
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height:1rem;
    width: 100%;
    font-size: 18px;
    color: white;
    background: linear-gradient(180deg, #111, transparent);
}

.logo {
    height: 30px;
}

.items-left ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 3rem;
}

.items-left ul li {
    margin-right: 30px;
    cursor: pointer;
}

.items-right{
    margin-left: auto;
}

.items-right ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.items-right ul li {
    margin-right: 30px;
    cursor: pointer;
}

.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    position: absolute;
    top: -5px;
    right: -10px;
    font-size: small;
    padding: 1px 5px;
    border-radius: 50%;
    background: red;
    color: white;
}

.avatar {
    height: 40px;
    margin-left: 20px;
    margin-right: 2rem;
}

.menu {
    display: block;
    height: 40px;
    margin-left: 0px;
}
.items-right{
    display: inline-block;
}

@media screen and (max-width: 640px) {
    .navbar{
        width: 100%;
    }
    .items-right {
        display: inline-block;
    }
    .items-left{
        display: none;
    }
    .items-right ul{
        display: none;
    }
    .menu {
        display: block;
        cursor: pointer;
    }

    .items-left ul {
        flex-direction: column;
        align-items: center;
    }

    .items-left ul li {
        margin: 10px 0;
    }
}