*{
    margin: 0;
    padding: 0;
    }
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #111;
}
.footer{
    width: 100%;
    height: 5%;
    padding-top: rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}
.social{
    padding: 20px;
}
.soci{
    transition: all .2s;
    font-size: x-large;
    margin-inline: .5rem;
}
.soci:hover{
    color: whitesmoke;
    transform: scale(1.3);
}
.ftext{
    width: 100%;
    letter-spacing: 0.2em;
    transition: all .5s cubic-bezier(1, 0, 0.7, 1);
}
.ftext:hover{
    letter-spacing: .7em;
}
a{
    text-decoration: none;
    color: inherit;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(128, 128, 128, 0.473);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(169, 169, 169, 0.541);
}
::-webkit-scrollbar-track-piece{
    background-color: inherit;
}